<% include ../../partials/header %>

<div class="box">
    <h1>Edit Comment
        <form method="POST" action="/splash/<%= splash_id %>/comment/<%= comment._id %>/?_method=DELETE" id="delete-button">
            <button type="submit" class="btn btn-danger">Delete This Comment</button>
        </form>
    </h1>

    <form method="POST" action="/splash/<%= splash_id %>/comment/<%= comment._id %>/?_method=PUT">
        <div class="form-group">
            <label for="imageDescription">Comment</label>
            <textarea class="form-control" id="imageDescription" name="text" maxlength="20000"><%= comment.text %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>

<% include ../../partials/footer %>